{block #content}

<h1>Uživatelé</h1>

<p>
    <a href="{plink Pid:default}">Rodná čísla</a>
    <a href="{plink Order:default}">Nákup</a>
    <a href="{plink Statistic:default}">Statistika</a>
    <a href="{plink Homepage:default}">Menu</a>
</p>

<a href="{plink add}">Vytvoř</a>
<div style="background-color:yellow" width="100%">
    <div class="row">
        <div class="col-sm-1">Příjmení</div>
        <div class="col-sm-1">Jméno</div>
        <div class="col-sm-2">Registrace</div>
        <div class="col-sm-1">Je Admin?</div>
        <div class="col-sm-1">Rodné číslo</div>
        <div class="col-sm-2">Telefon</div>
        <div class="col-sm-1">Pohlaví</div>
        <div class="col-sm-1">Datum narození</div>
        <div class="col-sm-2" colspan="2">Akce</div>

    </div>
        {foreach $users as $u}
            <div class="row">
                <div class="col-sm-1"><a href="https://www.kdejsme.cz/Prijmeni/{$u->surname}">{$u->surname}</a></div>
                <div class="col-sm-1"><a href="https://www.kdejsme.cz/Prijmeni/{$u->firstname}">{$u->firstname}</a></div>
                <div class="col-sm-2">{$u->registered|date:"%d.%m.%Y-%H:%M:%S"}</div>
                {if $u->is_admin==1}
                <div class="col-sm-1">ANO</div>
                {else}
                <div class="col-sm-1">NE</div>
                {/if}
                <div class="col-sm-1">{$u->pid->name}</div>
                <div class="col-sm-2">{$u->phone|phone}</div>
                <div class="col-sm-1">{$u->pid->name|sex}</div>
                <div class="col-sm-1">{$u->pid->name|birthday}</div>
                <div class="col-sm-1"><a href="{plink edit id => $u->id}">Edituj</a></div>
                <div class="col-sm-1"><a href="{plink delete id => $u->id}">Odeber</a></div>
            </div>
        {/foreach}
    </div>
</div>