<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body style="width: 30%; margin: auto">

<h1>Editace nákupu {$name}</h1>
<p>
<a href="{plink default}">Zpět</a>
</p>
<div>
<form n:name=editForm>
    <div class="form-group">
    {label name}
        <input n:name=name type="text" class="form-control" placeholder="Nazev">
    </div>
    <div class="form-group">
    {label user_id}
        <select n:name=user_id class="form-control" placeholder="Uzivatel"></select>
    </div>
    <div class="form-group">
    {label quantity}
        <input n:name=quantity type="number" class="form-control" placeholder="Mnozstvi">
    </div>
    <div class="form-group">
    {label price}
        <input n:name=price type="number" class="form-control" placeholder="Cena">
    </div>
    <button type="submit" n:name=send class="btn btn-primary">Odeslat</button>

</form>
</div>
</body>
